[flake8]
 exclude = venv
 ignore = W503, D203 # W503: Line break occurred before binary operator. D203: Certain folders. See exclude.
 max-line-length = 100
 exclude=
    src/utils/
    src/models/deprecated/